{% extends 'base.html' %}

{% block title %}
    IOU - Recent Transactions
{% endblock title %}

{% block balance %}
    ${{ balance }}
{% endblock balance %}

{% block content %}
    <section class="px-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="d-flex justify-content-between align-items-center">
            <h1>Recent Transactions</h1>
            <a href="{% url 'transactions:add_transaction' %}" class="fs-1 fw-bold text-reset text-decoration-none" title="Add Transaction">+</a>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>User</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in page_obj %}
                            <tr>
                                <td>{{ transaction.date }}</td>
                                <td>
                                    <a href="{% url 'transactions:transaction_details' transaction.id %}" class="fw-bold text-reset text-decoration-none">{{ transaction.description }}</a>
                                </td>
                                <td>{{ transaction.user }}</td>
                                {% if transaction.type == 'DB' %}
                                    <td class="fw-bold text-danger">-${{ transaction.amount|floatformat:2 }}</td>
                                {% else %}
                                    <td class="fw-bold text-success">&nbsp;${{ transaction.amount|floatformat:2 }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'transactions:index' %}?page={{ page_obj.previous_page_number }}" class="btn btn-secondary">Prev</a>
                    {% else %}
                        <button href="#" class="btn btn-secondary" disabled>Prev</button>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="{% url 'transactions:index' %}?page={{ page_obj.next_page_number }}" class="btn btn-secondary">Next</a>
                    {% else %}
                        <button href="#" class="btn btn-secondary" disabled>Next</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}